@model List<EdgeCut.Models.Blog>

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Latest Blog
            </h2>
        </div>
        <div class="row">
            @foreach(var item in @Model) {
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/@item.Image" alt=""/>
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.Title
                            </h5>
                            <p>
                                @item.Description
                            </p>
                            <a href="">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>