* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

ul {
    padding-left: 30px;
    padding-bottom: 15px;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.5rem;

    #pages {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.active {
    color: #fff;
    background-color: #009BD2;
    padding: 10px 15px;
    border-radius: 5px;
}