* {
    box-sizing: border-box;
}

#first {
    p {
        text-transform: lowercase;
        background-color: aquamarine;
        border: 0.5px solid black;

        &:nth-child(2) {
            text-align: center;
        }

        &:nth-child(3) {
            text-align: right;
        }

        &:nth-child(4), &:last-child {
            text-align: justify;
        }

        &:last-child {
            text-align-last: center;
        }
    }
}

#second {
    text-align: center;

    div {
        padding: 10px 0;
        margin: 10px 0;

        &:first-child {
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:nth-child(2) {
            font-style: italic;
            border: 2px solid blue;
        }

        &:nth-child(3) {
            text-decoration: line-through;
            border: 3px dotted black;
        }

        &:nth-child(4) {
            text-decoration: overline;
            border: 3px gray dashed;
        }

        &:nth-child(5) {
            text-decoration: underline;
            border: 3px double gray;
        }

        &:nth-child(6) {
            text-transform: uppercase;
            border: 3px solid;
            border-color: purple orange firebrick blue;
        }

        &:last-child {
            background-color: rgba(0, 0, 0, 0.05);
            border-width: 5px 5px 10px;
            border-style: none dotted double dashed;
            border-color: transparent purple orange firebrick;
        }
    }
}

#menu {
    width: 10%;
    font-style: italic;
    font-weight: bold;
    background-color: lightslategrey;

    div {
        border-bottom: 2px solid black;
        padding: 15px 0 15px 5px;
    }
}

#boxes {
    text-align: center;

    div {
        width: 7%;
        margin: 20px 0;

        &:first-child {
            border: 3px solid goldenrod;
        }

        &:nth-child(2) {
            border: 3px dotted goldenrod;
            margin-left: 50px;
        }

        &:nth-child(3) {
            border: 3px dashed goldenrod;
            margin-left: 100px;
        }

        &:last-child {
            border: 3px double goldenrod;
            margin-left: 150px;
        }
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-bottom: 10px;

    tbody tr:nth-child(odd) {
        background-color: lightgray;
    }

    th, td {
        padding: 0 20px;
    }
}

#figures {
    margin-bottom: 30px;

    div {
        display: inline-block;
        width: 200px;
        height: 200px;
        margin: 10px 30px;
        background-color: sandybrown;
        border: 3px solid firebrick;

        &:first-child {
            border-radius: 10px;
        }

        &:nth-child(2) {
            border-radius: 25px 0;
        }

        &:nth-child(3) {
            border-radius: 50% 50% 0 0;
        }

        &:nth-child(4) {
            border-radius: 90% 0 0;
        }

        &:nth-child(5) {
            border-radius: 0 50%;
        }

        &:nth-child(6) {
            border-radius: 0 90% 0 90%;
        }

        &:nth-child(7) {
            border-radius: 50% 50% 0;
        }

        &:last-child {
            border-radius: 100%;
        }
    }
}

#jumbotron {
    margin: auto auto 50px;
    width: 50%;
    box-shadow: 0 10px 20px 5px gray;

    #header {
        background-color: dodgerblue;
        color: white;
        padding-left: 10px;
        line-height: 60px;
    }

    p {
        padding: 0 10px;
        margin: 0 0 10px;
    }

    #footer {
        background-color: dodgerblue;
        color: white;
        padding-left: 10px;
        line-height: 45px;
    }
}

#card {
    width: 25%;
    margin: auto;
    box-shadow: 0 0 20px 10px gray;
    border-radius: 5px;

    #card-title {
        font-weight: bold;
    }

    img {
        margin: 0;
        width: 100%;
    }

    #position, #card-title {
        padding: 10px 15px;
    }
}