* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    align-self: flex-start;
    padding-left: 25%;
    font-weight: lighter;
}

#range {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50%;

    #volumeBar {
        width: 90%;
        border: solid 1px black;

        #volume {
            width: 0%;
            transition: .1s;
            height: 35px;
            background: linear-gradient(to right, #FFBE13 100%, #FFBE13 100%, #fff 100%, #FFF 100%);
        }
    }

    button {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }
}