@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #212529;
    font: 400 1rem "Source Sans 3";
    overflow-x: hidden;
}

header {
    background-image: url("../image/header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 37vh;

    h1 {
        font: 5.5rem "Source Sans 3";
        line-height: 1.2;
    }

    h3 {
        font: 700 1.75rem "Source Sans 3";
        margin-bottom: 3rem;
    }

    a {
        display: block;
        padding: 1.25rem 2.5rem;
        margin: auto;
        background-color: #196D87;
        width: 176px;
        height: 66px;
        border: none;
        color: #FFF;
        border-radius: 5px;
        text-decoration: none;

        &:hover {
            transition: 0.5s;
            background-color: #17667F;
        }
    }
}

#about {
    text-align: center;
    padding: 7.5rem 0;

    h2 {
        font: 700 2rem "Source Sans 3";
        margin-bottom: 0.5rem;
    }

    p {
        font: 300 1.25rem "Source Sans 3";
        margin-bottom: 3rem;

        a {
            color: #1D809F;
        }
    }

    #offer {
        display: block;
        width: 176px;
        height: 66px;
        padding: 1.25rem 2.5rem;
        background-color: #212529;
        border: none;
        color: #FFF;
        border-radius: 5px;
        text-decoration: none;
        margin: auto;

        &:hover {
            transition: 0.5s;
            background-color: #424649;
        }
    }
}

#services {
    text-align: center;
    background-color: rgb(29, 128, 159);
    padding: 7.5rem 0;

    h3 {
        color: rgb(236, 184, 7);
    }

    h2 {
        margin-bottom: 48px;
        color: #FFF;
        font: 700 3rem "Source Sans 3";
    }

    #allservices {
        .service {
            display: inline-block;
            padding: 0 1.5rem;

            .circle {
                background-color: #FFF;
                border-radius: 50%;
                height: 7rem;
                width: 7rem;
                display: block;
                line-height: 7.5rem;
                font-size: 2.25rem;
                color: #1D809F;
                margin: auto auto 16px;
            }

            strong {
                color: #FFF;
                margin-bottom: 0.5rem;
                font: 700 1.5rem "Source Sans 3";
            }

            p {
                color: rgba(255, 255, 255, 0.7);

                svg {
                    box-sizing: content-box;
                    height: 1em;
                }
            }
        }
    }
}

#callout {
    padding: 15rem 0;
    background-image: url("../image/callout.jpg");
    background-position: center;
    background-size: cover;

    h2 {
        text-align: center;
        font: 700 3.5rem "Source Sans 3";
        max-width: 30rem;
        margin: auto auto 3rem;
    }

    a {
        margin: auto;
        background-color: #196D87;
        width: 188px;
        height: 66px;
        border: none;
        color: #FFF;
        border-radius: 5px;
        display: block;
        text-decoration: none;
        padding: 1.25rem 2.5rem;

        &:hover {
            transition: 0.5s;
            background-color: #17667F;
        }
    }
}

#portfolio {
    width: 100%;
    padding: 7.5rem 0;

    h3 {
        text-align: center;
        font: 700 1rem "Source Sans 3";
        color: rgb(236, 184, 7);
    }

    h2 {
        text-align: center;
        font: 700 3rem "Source Sans 3";
        margin-bottom: 3rem;
    }

    #portfolios {
        margin: auto;
        width: 80.1%;

        .portfolio {
            position: relative;
            width: 522px;
            height: 348px;
            display: inline-block;
            margin: 0;
            background-color: #21252933;
            cursor: pointer;
            clip-path: inset(0);

            &:hover {
                clip-path: inset(8%);
                transition: 1s;

                .text {
                    transition: 1s;
                    background-color: #1D809F;
                    opacity: 0.8;
                }
            }

            .text {
                position: absolute;
                padding: 11.5rem 5rem 5rem;
                color: #FFF;
                background-color: transparent;

                h2 {
                    text-align: left;
                    font: 700 0.8rem "Source Sans 3";
                    margin: 0 auto 0.5rem;
                }

                p {
                    font: 300 1.2rem "Source Sans 3";
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                }
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

#impossible {
    width: 100%;
    margin: auto;
    padding: 7.5rem 0;
    background-color: rgb(29, 128, 159);

    h2 {
        text-align: center;
        font: 700 2rem "Source Sans 3";
        margin-bottom: 1.5rem;
        line-height: 1.2;
        color: #FFF;
    }

    #buttons {
        width: 25%;
        margin: auto;

        a {
            border-radius: 0.375rem;
            padding: 1.25rem 2.5rem;
            text-decoration: none;
        }

        #click {
            margin-right: 1.5rem;
            background-color: #F8F9FA;
            color: #000;

            &:hover {
                background-color: #D3D4D5;
            }
        }

        #look {
            background-color: #212529;
            padding: 1.25rem 2.5rem;
            color: #FFF;

            &:hover {
                background-color: #424649;
            }
        }
    }
}

iframe {
    height: 30rem;
    width: 100%;
}

footer {
    width: 100%;
    padding: 5rem 0;
    margin: auto;

    #social {
        width: 15.2%;
        margin: auto auto 3rem;

        a {
            margin: auto auto 3rem;
            display: inline-block;
            height: 4rem;
            width: 4rem;
            line-height: 4.3rem;
            font-size: 1.5rem;
            background-color: #1D809F;
            transition: background-color 0.15s ease-in-out;
            color: #FFF;
            text-align: center;
            border-radius: 50%;
        }
    }

    p {
        text-align: center;
        color: #6C757D;
        font-size: 0.875em;
    }
}