@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;

    section {
        position: relative;
        margin-bottom: 180px;

        div {
            margin-top: 240px;
            margin-left: 85px;
            width: 732px;
            min-height: 391px;
            height: auto;
            padding: 81px 30px 30px;
            background-color: #FFF;
            color: #111;
            position: relative;
        }

        h4 {
            margin: 0 auto;
            font: 300 1.25rem 'Roboto', sans-serif;
            letter-spacing: 2px;
            word-wrap: break-word;
        }

        h2 {
            font: 400 3.75rem 'Alex Brush';
            line-height: 1.1;
            color: inherit;
            position: absolute;
            top: 92px;
        }

        p {
            text-align: right;
            margin: 70px 0 0 190px;
            word-wrap: break-word;
            font: 1rem 'Open Sans', sans-serif;
            line-height: 1.6;
            position: relative;
        }

        a {
            display: inline-block;
            text-decoration: 2px underline black;
            text-underline-offset: 7px;
            color: #0F0F0F;
            text-align: right;
            padding-bottom: 2px;
            margin: 40px 0 0 575px;
            letter-spacing: 2px;
            white-space: nowrap;
            font: 0.875rem 'Open Sans', sans-serif;
        }

        img {
            width: 460px;
            height: 630px;
            margin: 60px 0 0 auto;
            position: absolute;
            bottom: -119px;
            right: 84px;
            z-index: -1;
            object-fit: cover;
        }
    }

    footer {
        background-color: #333;
        color: #FFF;
        text-align: center;
        font: 0.8rem 'Open Sans', sans-serif;
        padding: 36px;
        line-height: 1.6;

        a {
            color: #ADCCE9;
            margin: 20px 0;
        }
    }
}