* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: #949494;
}

#container {
    width: 550px;
    height: 220px;
    background-color: #05BDFF;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

h3, p {
    color: #FFF;
    padding: 10px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 100px;
    height: 45px;
    background-color: #007516;
    color: #FFF;
    border: none;
    outline: none;
    margin: 10px;
}